output*
test_*
*backup.py
*test.py
detect
*models
classify_frames
detect
detect_text_area
new_test_dataset
*__pycache__
models
segment_lines
test_dataset
recognize_sequences
test_inputs
*.txt
data_new
new_canvas.png
